*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*====== Header part ====== */
header{
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    opacity: 0.7;
    
}
header.logo{
    width: 50%;
}
.logo img{
    width: 100px;
    margin-left: 50px;
}
header .menu ul{
    display: flex;
    margin-right: 50px;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
header .menu ul li a:hover{
    color: #fd000d;
}
/*====== Header part ====== */


/*====== Main-Home ====== */

#home .container{
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
}
#home .container .icons{
    width:10%;
    height: 80vh;
    margin-left: -3em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    position: fixed;
    z-index: 999;
    
}


/*====== Link-icons-left ====== */
.ig{
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
.git{
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
.linked{
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    transition: 0.5s ease;
}
.ig:hover{
    color: rgb(255, 2, 120);
}
.git:hover{
    color: rgba(83, 83, 83, 0.699);
}
.linked:hover{
    color: rgb(2, 162, 255);
}

#home .container .title{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}
#home .container .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: 5px;
}
#home .container .title h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 40px;
    font-size: 3rem;
    margin-left: 30px;
}
#home .container .title h3{
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 20px;
     font-size: 1.2rem;
     margin-top: 30px;
     margin-left: 35px;
    }
/*====== Main-Home ====== */


/*====== Section-About ====== */

#about .container{
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;   
}

#about .container .title{
    width: 50%;
    height: 100vh;
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}
#about .container .title h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;

}
#about .container .title p{
    color: #fff;
    width: 500px;
    margin-top: 10px;
}
#about .container .box-title{
    width: 420px;
    height: 37vh;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(0, 81, 255, 0.973);
    border-radius: 20px;
}
#about .container .box-title span{
    color: #fff;
}
#about .container .box-title .b1{
    width: 400px;
    height: 8px;
    background: #fff;
    margin-top: 2px;
    border-radius: 5px;
}
#about .container .box-title .b2{
    width: 220px;
    height: 8px;
    background: rgba(0, 253, 76, 0.726);
}
#about .container .box-title .b3{
    width: 400px;
    height: 8px;
    background: #fff;
    margin-top: 2px;
    border-radius: 5px;
}
#about .container .box-title .b4{
    width: 150px;
    height: 8px;
    background: rgba(0, 253, 76, 0.726);
}
#about .container .box-title .b5{
    width: 400px;
    height: 8px;
    background: #fff;
    margin-top: 2px;
    border-radius: 5px;
}
#about .container .box-title .b6{
    width: 30px;
    height: 8px;
    background: rgba(0, 253, 76, 0.726);
}
/*====== Section-About ====== */


/*====== Section-Projects ====== */
#projects .container{
    background: url(images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
}

#projects .title{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 25px;

}

#projects .list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#projects .project1{
    border: 2px solid blue;
    width: 400px;
    height: 500px;
}
#projects .project2{
    border: 2px solid red;
    width: 400px;
    height: 500px;
    margin-top: 200px;
}
#projects .project3{
    border: 2px solid green;
    width: 400px;
    height: 500px;
}
/*====== Section-Projects ====== */

/*====== Section Contact ====== */

#contact .container{
    background: url(images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;

}
#contact .title{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 25px;
}

#contact .form{
    margin-left: 45px;
    border-radius: 35px;
    width: 440px;
    box-shadow: 0 0 10px 0 rgba(0, 81, 255, 0.973);
    color: #fff;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
#contact .form input{
    width: 300px;
    height: 25px;
}
